.btn {
    color: white;
    border: none;
}

.btn:hover{
    background-color: #5386e4;
    color: white;
}

.image-top {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: #2d3e4e;
    border: none;
}

.space{
    letter-spacing: 20px;
}

.form-label{
    color: white;
}

.background{
    background-color: #2d3e4e;
}

.heading{
    text-align: left;
    font-family: Qualy;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 45px;
    color: #e8eceb;
}

.subtitle{
    font-family: Qualy;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    color: #e8eceb;
}

.note{
    color: rgba(232, 236, 235, 0.55);
    font-size: 15px;
    font-family: Qualy;
    text-align: left;
}
