.btn {
    color: white;
    border: none;
}

.btn:hover{
    background-color: #5386e4;
    color: white;
}

.image-top {
    margin-top: 50px;
    margin-left: 92px;
    margin-right: 80px;
    height: 150px;
    width: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-top: 20px;
    padding-top: 5px;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color: #2d3e4e;
    margin-right: 50px;
    border: none;
}

.card-footer{
    margin-top: 10px;
    padding-top: 20px;
    background-color: white;
    padding-bottom: 0;
    background-color: #2d3e4e;
}

.space{
    letter-spacing: 20px;
}

.form-label{
    color: white;
}

.background{
    background-color: #2d3e4e;
    margin-left: 80px;
    margin-right: 67px;
    margin-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: left;
    font-family: Qualy;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 70px;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 45px;
    color: #e8eceb;
}

.subtitle{
    font-family: Qualy;
    text-align: left;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 70px;
    font-weight: lighter;
    color: #e8eceb;
}

.note{
    color: rgba(232, 236, 235, 0.55);
    font-size: 15px;
    font-family: Qualy;
    text-align: left;
    margin-left: 70px;
}
