.card {
    font-family: Qualy;
    width: 100%;
}

.img {
    width:100px;
    height:100px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(45, 62, 78, 0.664));
}

p{
    font-size: 13px;
    font-family: Qualy;
}

h6{
    font-family: Qualy;
    font-weight: bold;
    font-size: 20px;
}

types{
    font-size: 10px;
    font-family: Qualy;
}

.bg-org{
    background-color: #e09e50;
}

.bg-blue{
    background-color: #2d3e4e;
}

